.login {
  height: 100vh;
  align-items: center;
  background-image: url(../../../../../public/Login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
label {
  margin-bottom: 10px;
}
.p-card .p-card-footer {
  display: flex;
  justify-content: center;
  align-self: center;
}
.p-card {
  background-color: var(--background-color) !important;
  color: #b88e2f !important;
}

.p-card-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.p-card-footer .p-button {
  margin-top: 10px;
  width: 100%;
  margin-left: 0px !important;
  background-color: var(--background-color) !important;
  color: #b88e2f !important;
  border-color: #b88e2f;
}
.p-inputtext {
  background-color: var(--background-color);
  border-color: var(--border-color);
}
.error-text {
  color: red !important;
  border-color: red !important;
}
