<div [formGroup]="loginForm">
  <p-card
    class="align-self-center login position-relative d-flex justify-content-center"
    [style]="{ width: '360px' }"
  >
    <ng-template
      pTemplate="header"
      class="d-flex flex-wrap justify-content-center"
    >
      <div class="w-100 text-center">
        <span class="fs-3 w-100 fw-bold">
          {{ "LOGIN.TITLE" | translate }}
        </span>
      </div>
      <p-button
        (click)="switchLanguage()"
        [label]="currentLang === 'en' ? '🇸🇦 عربي' : '🇬🇧 English'"
        variant="text"
        severity="warn"
        class="d-flex justify-content-center"
      />
    </ng-template>

    <div class="d-flex log flex-wrap justify-content-center">
      <span class="p-float-label mb-4 w-100">
        <label for="username">{{ "LOGIN.USERNAME" | translate }}</label>
        <input
          formControlName="username"
          class="w-100"
          pInputText
          id="username"
          [ngClass]="{
            'error-text':
              loginForm.get('username')?.invalid &&
              loginForm.get('username')?.touched
          }"
        />
        @if (loginForm.get('username')?.dirty ||
        loginForm.get('username')?.touched) {
        <small id="username-help">
          @if (loginForm.get('username')?.hasError('required')) {
          <span class="error-text">{{
            "LOGIN.USERNAME_REQUIRED" | translate
          }}</span>
          }
        </small>
        }
      </span>

      <span class="p-float-label mb-4 w-100">
        <label for="password">{{ "LOGIN.PASSWORD" | translate }}</label>
        <input
          formControlName="password"
          type="password"
          class="w-100"
          pInputText
          id="password"
          [ngClass]="{
            'error-text':
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
          }"
        />

        @if (loginForm.get('password')?.dirty ||
        loginForm.get('password')?.touched) {
        <small id="password-help">
          @if (loginForm.get('password')?.hasError('required')) {
          <span class="error-text">
            {{ "LOGIN.PASSWORD_REQUIRED" | translate }}
          </span>
          } @if (loginForm.get('password')?.hasError('minlength')) {
          <span class="error-text">
            {{ "LOGIN.PASSWORD_MINLENGTH" | translate }}
          </span>
          }
        </small>
        }
      </span>
    </div>

    <ng-template class="footer" pTemplate="footer">
      <p-button
        class="text-center"
        [disabled]="loginForm.invalid"
        (click)="signin()"
        [label]="'LOGIN.LOGIN_BUTTON' | translate"
        styleClass="p-button-danger"
        [style]="{ 'margin-left': '.5em' }"
      ></p-button>

      <p-button
        class="text-center"
        routerLink="/register"
        [label]="'LOGIN.REGISTER_BUTTON' | translate"
        styleClass="p-button-success"
      ></p-button>
    </ng-template>
  </p-card>
</div>
