<div
  [formGroup]="registerForm"
  class="d-flex justify-content-center align-items-center vh-100"
>
  <p-card class="register position-relative" [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
      <span class="text-center fs-3 d-flex justify-content-center fw-bold">
        {{ "REGISTER.TITLE" | translate }}
      </span>
    </ng-template>

    <div class="d-flex flex-wrap justify-content-center">
      <!-- Username Field -->
      <div class="w-100 mb-3">
        <span class="p-float-label">
          <label for="username">{{ "REGISTER.USERNAME" | translate }}</label>
          <input
            formControlName="username"
            class="w-100"
            pInputText
            id="username"
          />
        </span>
        @if (registerForm.get('username')?.dirty ||
        registerForm.get('username')?.touched) {
        <small class="text-danger">
          @if (registerForm.get('username')?.hasError('required')) {
          <span>{{ "REGISTER.ERRORS.USERNAME_REQUIRED" | translate }}</span>
          } @if (registerForm.get('username')?.hasError('minlength')) {
          <span>{{ "REGISTER.ERRORS.USERNAME_MIN" | translate }}</span>
          }
        </small>
        }
      </div>

      <!-- Password Field -->
      <div class="w-100 mb-3">
        <span class="p-float-label">
          <label for="password">{{ "REGISTER.PASSWORD" | translate }}</label>
          <input
            formControlName="password"
            type="password"
            class="w-100"
            pInputText
            id="password"
          />
        </span>
        @if (registerForm.get('password')?.dirty ||
        registerForm.get('password')?.touched) {
        <small class="text-danger">
          @if (registerForm.get('password')?.hasError('required')) {
          <span>{{ "REGISTER.ERRORS.PASSWORD_REQUIRED" | translate }}</span>
          } @if (registerForm.get('password')?.hasError('minlength')) {
          <span>{{ "REGISTER.ERRORS.PASSWORD_MIN" | translate }}</span>
          }
        </small>
        }
      </div>

      <!-- Confirm Password Field -->
      <div class="w-100 mb-3">
        <span class="p-float-label">
          <label for="confirmPassword">
            {{ "REGISTER.CONFIRM_PASSWORD" | translate }}
          </label>
          <input
            formControlName="confirmPassword"
            type="password"
            class="w-100"
            pInputText
            id="confirmPassword"
          />
        </span>
        @if (registerForm.get('confirmPassword')?.dirty ||
        registerForm.get('confirmPassword')?.touched) {
        <small class="text-danger">
          @if (registerForm.get('confirmPassword')?.hasError('required')) {
          <span>
            {{ "REGISTER.ERRORS.CONFIRM_PASSWORD_REQUIRED" | translate }}
          </span>
          } @if (registerForm.get('confirmPassword')?.hasError('minlength')) {
          <span>
            {{ "REGISTER.ERRORS.CONFIRM_PASSWORD_MIN" | translate }}
          </span>
          } @if (registerForm.get('confirmPassword')?.hasError('mismatch')) {
          <span>
            {{ "REGISTER.ERRORS.PASSWORD_MISMATCH" | translate }}
          </span>
          }
        </small>
        }
      </div>

      <!-- Email Field -->
      <div class="w-100 mb-3">
        <span class="p-float-label">
          <label for="email">{{ "REGISTER.EMAIL" | translate }}</label>
          <input formControlName="email" class="w-100" pInputText id="email" />
        </span>
        @if (registerForm.get('email')?.dirty ||
        registerForm.get('email')?.touched) {
        <small class="text-danger">
          @if (registerForm.get('email')?.hasError('required')) {
          <span>{{ "REGISTER.ERRORS.EMAIL_REQUIRED" | translate }}</span>
          } @if (registerForm.get('email')?.hasError('email')) {
          <span>{{ "REGISTER.ERRORS.EMAIL_INVALID" | translate }}</span>
          }
        </small>
        }
      </div>
    </div>

    <ng-template pTemplate="footer">
      <div class="d-flex justify-content-center mt-3">
        <p-button
          [disabled]="registerForm.invalid"
          (click)="register()"
          [label]="'REGISTER.BUTTON' | translate"
          styleClass="p-button-success"
        ></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
