.footer {
  background-color: #f8f8f8;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #777;
}
.active {
  color: #b88e2f;
}
ul {
  li {
    cursor: pointer;
  }
}
