<footer class="bg-light py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5 class="fw-bold">{{ "FOOTER.TITLE" | translate }}</h5>
        <p class="text-muted mb-0">
          {{ "FOOTER.ADDRESS" | translate }}
        </p>
      </div>
      <div class="col-md-6">
        <h6 class="text-muted fw-semibold">
          {{ "FOOTER.LINKS.LINKS" | translate }}
        </h6>
        <ul class="list-unstyled">
          <li class="text-dark text-decoration-none" routerLink="/home">
            {{ "FOOTER.LINKS.HOME" | translate }}
          </li>
          <li class="text-dark text-decoration-none" routerLink="/shop">
            {{ "FOOTER.LINKS.SHOP" | translate }}
          </li>
          <li class="text-dark text-decoration-none" routerLink="/about">
            {{ "FOOTER.LINKS.ABOUT" | translate }}
          </li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="text-center text-muted">
      <p class="mb-0">{{ "FOOTER.COPYRIGHT" | translate }}</p>
    </div>
  </div>
</footer>
