<header>
  <div
    class="d-flex flex-row justify-content-between container align-items-center"
  >
    <div class="d-flex flex-row">
      <img class="mt-1" src="/Logo.png" alt="" />
      <h1>Furniro</h1>
    </div>

    <div>
      <ul class="list-unstyled d-flex mb-0 fw-semibold">
        <li class="m-4" routerLink="Home">Home</li>
        <li class="m-4" routerLink="Shop">Shop</li>
        <li class="m-4" routerLink="About">About</li>
      </ul>
    </div>
    <div>
      <ul class="list-unstyled d-flex justify-content-between">
        <li class="m-1" routerLink="Home">Home</li>
        <li class="m-1" routerLink="Shop">Shop</li>
        <li class="m-1" routerLink="About">About</li>
      </ul>
    </div>
  </div>
</header>
