<header>
  <div
    class="d-flex flex-row justify-content-between container align-items-center"
  >
    <div class="d-flex flex-row">
      <img class="mt-1" src="/Logo.png" alt="" />
      <h1>Furniro</h1>
    </div>

    <div>
      <ul class="list-unstyled d-flex mb-0 fw-semibold">
        <li class="m-4" routerLinkActive="active" routerLink="/home">Home</li>
        <li class="m-4" routerLinkActive="active" routerLink="/shop">Shop</li>
        <li class="m-4" routerLinkActive="active" routerLink="/about">About</li>
      </ul>
    </div>
    <div>
      <ul class="mb-0 list-unstyled d-flex justify-content-between">
        <li class="m-3" routerLink="User">
          <i class="pi pi-user fs-4"></i>
        </li>

        <li class="m-3" routerLink="Cart">
          <i class="pi pi-shopping-cart fs-4"></i>
        </li>
      </ul>
    </div>
  </div>
</header>
