<header>
  <div
    class="d-flex flex-wrap flex-row justify-content-between align-items-center"
  >
    <div class="d-flex flex-row">
      <img class="mt-1" src="/Logo.png" alt="Logo" />
      <h1>{{ "HEADER.TITLE" | translate }}</h1>
    </div>

    <div>
      <ul class="list-unstyled d-flex mb-0 fw-semibold">
        <li class="m-4" routerLinkActive="active" routerLink="/home">
          {{ "HEADER.NAV.HOME" | translate }}
        </li>
        <li class="m-4" routerLinkActive="active" routerLink="/shop">
          {{ "HEADER.NAV.SHOP" | translate }}
        </li>
      </ul>
    </div>

    <div>
      <ul class="mb-0 list-unstyled d-flex justify-content-between">
        <li class="m-3" routerLink="orders">
          <i class="pi pi-user fs-4"></i>
          {{ "HEADER.NAV.ORDERS" | translate }}
        </li>
        @if (currentRole==='customer') {
        <li class="m-3" routerLink="cart">
          <i class="pi pi-shopping-cart fs-4"></i>
          {{ "HEADER.NAV.CART" | translate }}
        </li>
        }
      </ul>
    </div>

    <!-- Language Toggle Button -->

    <p-button
      (click)="switchLanguage()"
      [label]="currentLang === 'en' ? '🇸🇦 عربي' : '🇬🇧 English'"
      variant="text"
      severity="warn"
    />
  </div>
</header>
