<div class="shop">
  <div class="text d-flex text-center flex-column align-items-center">
    <h1>{{ "SHOP.TITLE" | translate }}</h1>
    <div class="category d-flex flex-row justify-content-center">
      <h6>{{ "SHOP.HOME" | translate }}</h6>
      <span>></span>
      <p>{{ "SHOP.SHOP" | translate }}</p>
    </div>
  </div>

  <div class="tool-bar container">
    <div class="row">
      <div class="col-12">
        <p-dataview
          [value]="translatedProducts"
          [sortField]="sortField"
          [sortOrder]="sortOrder"
          [layout]="layout"
        >
          <ng-template #header>
            <div
              class="d-flex flex-wrap justify-content-between align-items-center gap-3"
            >
              <p-selectbutton
                [ngModel]="layout"
                (ngModelChange)="layout = $event"
                [options]="options"
                [allowEmpty]="false"
              >
                <ng-template #item let-item>
                  <i
                    class="pi"
                    [ngClass]="{
                      'pi-bars': item === 'list',
                      'pi-table': item === 'grid'
                    }"
                  ></i>
                </ng-template>
              </p-selectbutton>

              <div
                class="d-flex flex-wrap justify-content-center flex-sm-wrap gap-3"
              >
                <p-dropdown
                  [options]="availabilityOptions"
                  [(ngModel)]="selectedAvailability"
                  [placeholder]="'FILTERS.AVAILABILITY' | translate"
                  (onChange)="applyFilters()"
                ></p-dropdown>

                <p-dropdown
                  [options]="categoryOptions"
                  [(ngModel)]="selectedCategory"
                  [placeholder]="'FILTERS.CATEGORY' | translate"
                  (onChange)="applyFilters()"
                ></p-dropdown>

                <input
                  type="number"
                  [(ngModel)]="minPrice"
                  [placeholder]="'FILTERS.MIN_PRICE' | translate"
                  class="p-inputtext p-2 border"
                  (input)="applyFilters()"
                />
                <input
                  type="number"
                  [(ngModel)]="maxPrice"
                  [placeholder]="'FILTERS.MAX_PRICE' | translate"
                  class="p-inputtext p-2 border"
                  (input)="applyFilters()"
                />
                <input
                  class="justify-content-center d-flex text-center"
                  type="text "
                  [(ngModel)]="searchText"
                  [placeholder]="'FILTERS.SEARCH' | translate"
                  class="p-inputtext p-2 w-auto border rounded-md"
                />
                <button
                  pButton
                  label="{{ 'FILTERS.CLEAR' | translate }}"
                  icon="pi pi-filter-slash"
                  class="p-button-secondary"
                  (click)="clearFilters()"
                ></button>
                @if (isAdmin === 'admin') {
                <button
                  pButton
                  [label]="'ADMIN.PANEL' | translate"
                  icon="pi pi-cog"
                  class="p-button-danger"
                  (click)="openAdminDialog()"
                ></button>
                }
              </div>
              <div
                class="d-flex flex-wrap justify-content-center flex-sm-wrap gap-3"
              ></div>
            </div>
          </ng-template>

          <!-- LIST VIEW -->
          <ng-template #list>
            @for (product of filteredProducts | searchFilter: searchText; track
            product.id) {
            <div
              class="d-flex flex-wrap list mb-5 justify-content-between text-center align-items-center p-4 border rounded"
            >
              <div class="d-flex gap-3 align-items-center">
                <img
                  class="rounded w-50"
                  [src]="product.image"
                  [alt]="product.name"
                />
                <div class="fs-5 fw-bold w-50 text-center">
                  <p>{{ product.name }}</p>
                  <span class="text-muted">
                    {{ product.description }}
                  </span>
                </div>
              </div>
              <div
                class="d-flex text-center flex-column align-items-center gap-2"
              >
                <span class="fs-5 fw-bold">{{
                  product.price | currency : "USD"
                }}</span>
                <div class="d-flex flex-wrap gap-2">
                  @if (isAdmin!=='admin') {
                  <p-button
                    icon="pi pi-shopping-cart"
                    [disabled]="product.stock === 0"
                    [label]="'SHOP.BUY_NOW' | translate"
                    class="p-button-primary w-100"
                    (click)="addToCart(product)"
                  ></p-button>
                  <p-button
                    class="w-100"
                    [label]="'HOME.SHOW_DETAILS' | translate"
                    severity="secondary"
                    [routerLink]="['/product', product.id]"
                  ></p-button>
                  } @if (isAdmin === 'admin') {
                  <button
                    pButton
                    icon="pi pi-pencil"
                    class="p-button-warning"
                    (click)="editProductDialog(product.id)"
                  ></button>
                  <button
                    pButton
                    icon="pi pi-trash"
                    class="p-button-danger"
                    (click)="deleteProduct(product.id)"
                  ></button>
                  }
                </div>
              </div>
            </div>
            }
          </ng-template>

          <!-- GRID VIEW -->
          <ng-template #grid let-items>
            <div class="grid-cols-12 gap-4">
              <div
                class="col-span-12 grid gap-4 sm:col-span-6 md:col-span-4 xl:col-span-6 p-2"
              >
                @for (product of filteredProducts|searchFilter:searchText; track
                $index) {

                <div
                  class="border border-surface-200 dark:border-surface-700 bg-surface-0 dark:bg-surface-900"
                >
                  <div
                    class="bg-surface-50 d-flex p-4 justify-content-center rounded"
                  >
                    <div class="mx-auto">
                      <img [src]="product.image" [alt]="product.name" />
                    </div>
                  </div>
                  <div class="pt-6">
                    <div
                      class="flex flex-row justify-between products-start gap-2"
                    >
                      <div class="fs-5 fw-bold w-100 text-center">
                        <div>{{ product.name }}</div>
                        <div class="text-muted">
                          {{ product.description }}
                        </div>
                      </div>
                      <div
                        class="bg-surface-100 p-1"
                        style="border-radius: 30px; height: 100%"
                      >
                        <div
                          class="bg-surface-0 flex products-center gap-2 justify-center py-1 px-2"
                          style="
                            border-radius: 30px;
                            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04),
                              0px 1px 2px 0px rgba(0, 0, 0, 0.06);
                          "
                        ></div>
                      </div>
                    </div>
                    <div
                      class="d-flex container flex-wrap justify-content-between flex-col gap-6 mt-6"
                    >
                      <span class="fs-5 fw-medium w-100 text-center mb-2">{{
                        product.price | currency : "USD"
                      }}</span>
                      <div class="d-flex w-100 text-center flex-wrap">
                        @if (isAdmin!=='admin') {

                        <p-button
                          [disabled]="product.stock === 0"
                          icon="pi pi-shopping-cart"
                          [label]="'SHOP.BUY_NOW' | translate"
                          class="flex-auto whitespace-nowrap w-100"
                          (click)="addToCart(product)"
                        ></p-button>
                        <p-button
                          [label]="'HOME.SHOW_DETAILS' | translate"
                          severity="secondary"
                          [routerLink]="['/product', product.id]"
                          class="w-100"
                        ></p-button
                        >} @if (isAdmin === 'admin') {
                        <button
                          pButton
                          icon="pi pi-pencil"
                          class="p-button-warning"
                          (click)="editProductDialog(product.id)"
                        ></button>
                        <button
                          pButton
                          icon="pi pi-trash"
                          class="p-button-danger"
                          (click)="deleteProduct(product.id)"
                        ></button>
                        }
                      </div>
                    </div>
                  </div>
                </div>
                }
              </div>
            </div>
          </ng-template>
        </p-dataview>
      </div>
    </div>
  </div>
</div>

<!-- Admin Dialog -->
<p-dialog [(visible)]="adminDialogVisible" header="Add Product" [modal]="true">
  <div class="p-fluid">
    <div class="add-name d-flex gap-2">
      <label for="name-en"></label>
      <input
        type="text"
        [(ngModel)]="newProduct.name.en"
        placeholder="Product Name"
        class="form-control"
      />
      <input
        type="text"
        [(ngModel)]="newProduct.name.ar"
        placeholder="اسم المنتج"
        class="form-control"
      />
    </div>
    <div class="add-desc d-flex gap-2">
      <input
        type="text"
        [(ngModel)]="newProduct.description.en"
        placeholder="Product Description"
        class="form-control"
      />
      <input
        type="text"
        [(ngModel)]="newProduct.description.ar"
        placeholder="وصف المنتج"
        class="form-control"
      />
    </div>
    <div class="add-price-stock d-flex gap-2">
      <input
        type="number"
        [(ngModel)]="newProduct.price"
        [placeholder]="'PRODUCT.PRICE' | translate"
        class="form-control mt-2"
      />
      <input
        type="number"
        [(ngModel)]="newProduct.stock"
        [placeholder]="'PRODUCT.STOCK' | translate"
        class="form-control mt-2"
      />
    </div>

    <p-dropdown
      [(ngModel)]="newProduct.availability"
      [options]="availabilityOptions"
      [placeholder]="'PRODUCT.AVAILABILITY' | translate"
      class="form-control mt-2"
    ></p-dropdown>
    <div class="add-category d-flex gap-2">
      <input
        type="text"
        [(ngModel)]="newProduct.category.en"
        placeholder="Product Category"
        class="form-control mt-2"
      />
      <input
        type="text"
        [(ngModel)]="newProduct.category.ar"
        placeholder="فئه المنتج"
        class="form-control mt-2"
      />
    </div>

    <input
      type="file"
      (change)="onImageUpload($event)"
      [placeholder]="'PRODUCT.IMAGE' | translate"
      class="form-control mt-2"
    />
  </div>
  <ng-template pTemplate="footer">
    <button
      pButton
      [disabled]="isAddInvalid()"
      [label]="'ADMIN.SAVE' | translate"
      icon="pi pi-check"
      (click)="saveProduct()"
    ></button>
    <button
      pButton
      [label]="'ADMIN.CANCEL' | translate"
      icon="pi pi-times"
      class="p-button-secondary"
      (click)="closeAdminDialog()"
    ></button>
  </ng-template>
</p-dialog>

<!-- Edit Dialog -->
<p-dialog [(visible)]="editDialogVisible" header="Edit Product" [modal]="true">
  <div class="p-fluid">
    <div class="edit-name d-flex gap-2">
      <input
        type="text"
        [(ngModel)]="editProduct.name.en"
        [placeholder]="'PRODUCT.NAME' | translate"
        class="form-control"
      />
      <input
        type="text"
        [(ngModel)]="editProduct.name.ar"
        placeholder="اسم المنتج"
        class="form-control"
      />
    </div>
    <div class="edit-desc d-flex gap-2">
      <input
        type="text"
        [(ngModel)]="editProduct.description.en"
        placeholder="Product Description"
        class="form-control"
      />
      <input
        type="text"
        [(ngModel)]="editProduct.description.ar"
        placeholder="وصف المنتج"
        class="form-control"
      />
    </div>
    <div class="edit-stock-price d-flex gap-2">
      <input
        type="number"
        [(ngModel)]="editProduct.price"
        [placeholder]="'PRODUCT.PRICE' | translate"
        class="form-control mt-2"
      />
      <input
        type="number"
        [(ngModel)]="editProduct.stock"
        [placeholder]="'PRODUCT.STOCK' | translate"
        class="form-control mt-2"
      />
    </div>

    <p-dropdown
      [(ngModel)]="editProduct.availability"
      [options]="availabilityOptions"
      [placeholder]="'PRODUCT.AVAILABILITY' | translate"
      class="form-control mt-2"
    ></p-dropdown>
    <div class="edit-category d-flex gap-2">
      <input
        type="text"
        [(ngModel)]="editProduct.category.en"
        placeholder="Product Category"
        class="form-control mt-2"
      />
      <input
        type="text"
        [(ngModel)]="editProduct.category.ar"
        placeholder="فئه المنتج"
        class="form-control mt-2"
      />
    </div>

    <input
      type="file"
      (change)="onImageUpload($event)"
      [placeholder]="'PRODUCT.IMAGE' | translate"
      class="form-control mt-2"
    />
  </div>
  <ng-template pTemplate="footer">
    <button
      pButton
      [disabled]="isEditInvalid()"
      [label]="'ADMIN.UPDATE' | translate"
      icon="pi pi-check"
      (click)="updateProduct()"
    ></button>
    <button
      pButton
      [label]="'ADMIN.CANCEL' | translate"
      icon="pi pi-times"
      class="p-button-secondary"
      (click)="closeEditDialog()"
    ></button>
  </ng-template>
</p-dialog>
