.text {
  background-image: url(../../../../public/shop.png);
  height: 316px;
  h1 {
    margin-top: 120px;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  // gap: 20px;
  justify-content: center;
  width: 100%;
  img {
    width: 300px !important;
    height: 300px;
  }
  button {
    background: white;
    color: #b88e2f;
    border: 1px solid #b88e2f;
  }
  button:hover {
    background: #b88e2f;
    color: white;
    border: 1px solid white;
  }
}
.list {
  img {
    width: 300px !important;
    height: 300px;
  }
  button {
    background: white;
    color: #b88e2f;
    border: 1px solid #b88e2f;
  }
  button:hover {
    background: #b88e2f;
    color: white;
    border: 1px solid white;
  }
}
@media (max-width: 768px) {
  .list {
    img {
      width: 100px !important;
      height: 100px;
    }
    p {
      font-size: 16px !important;
    }
    span {
      font-size: 12px !important;
    }
  }
}
@media (max-width: 425px) {
  .list {
    img {
      display: none;
    }
  }
}
@media (max-width: 375px) {
  .list {
    p {
      font-size: 10px !important;
    }
    span {
      font-size: 10px !important;
    }
  }
}
