<div class="home">
  <div class="row d-flex h bg align-items-end flex-column w-100">
    <div class="w-50 h-50 text-bg m-5">
      <div class="m-5">
        <h6>{{ "HOME.NEW_ARRIVAL" | translate }}</h6>
        <h1>
          {{ "HOME.DISCOVER" | translate }} <br />
          {{ "HOME.NEW_COLLECTION" | translate }}
        </h1>
        <p class="mb-5">
          {{ "HOME.DESCRIPTION" | translate }}
        </p>
        <p-button [label]="'HOME.BUY_NOW' | translate" />
      </div>
    </div>
  </div>
  <div class="products container">
    <h1 class="text-center mt-5 mb-5">
      {{ "HOME.OUR_PRODUCTS" | translate }}
    </h1>

    <div class="card-container">
      @for (product of products; track $index) {
      <app-products-card [products]="product"></app-products-card>
      }
    </div>

    <div class="button text-center mt-3">
      <p-button [label]="'HOME.SHOW_MORE' | translate" routerLink="/shop" />
    </div>
  </div>
</div>
